<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/home">
      아이디 : <input /> 비밀번호 : <input type="text" />
      <button id="login">로그인</button>
    </form>

    <script>
      let loginBtn = document.getElementById("login");
      console.log(loginBtn);
      loginBtn.onclick = function () {
        alert("로그인");
      };
    </script>
  </body>
</html>
